* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
/* khôi phục cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* =====================================thuoc tinh chung ==================*/
a {
  text-decoration: none;
}
.main-content {
  width: 1770px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
/*===================================== header ===========================*/
.header {
  background: #c7f4df;
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 9999;
}
.header .bodyheader1 {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}

.icon ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.8rem;
  padding: 8px 21px;
}
.footer .row .column.cot2 ul a:hover,
.timkiem input:hover,
.nav a:hover {
  color: #0502be;
  text-shadow: 1px 0 0 currentColor;
}
.header .icon {
  margin-left: 30px;
}
.header .timkiem {
  margin-left: 49px;
}
/* =================================custom timkiem================== */
.timkiem {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5em;
  width: 18em;
}
.timkiem input {
  padding: 0.8em 1em;
  border: none;
  background: none;
  width: 100%;
}
.timkiem input:focus {
  outline: none;
}
.timkiem input::placeholder {
  color: #ccc;
}
.icon button:hover,
.timkiem button:hover {
  box-shadow: inset 0 -100px 0 0 rgba(10, 121, 84, 0.884);
}
.timkiem button {
  border: none;
  padding: 0;
}
.timkiem button {
  padding: 0.8em;
  cursor: pointer;
  transition: 300ms;
}
.timkiem {
  border-radius: 3em;
  overflow: hidden;
}
.timkiem button {
  background: rgba(45, 187, 140, 0.801);
  color: #fff;
  padding-left: 0.9em;
  padding-right: 0.9em;
}
/* ============================================custom icon============== */
.icon button {
  position: relative;
  background-color: rgba(45, 187, 140, 0.801);
  border-radius: 0.75em;
  padding: 15px 15px;
  margin: 5px;
  border: none;
}
/* Căn chỉnh icon */
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listicon {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.listicon li {
  position: relative; /* Để submenu định vị tương đối với phần tử cha */
  margin: 0 5px;
}

/* Ẩn submenu ban đầu */
.icon .submenu {
  display: none;
  position: absolute;
  top: 100%; /* Xuất hiện ngay bên dưới icon */
  left: 0;
  background: #fff;
  list-style: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Ẩn submenu ban đầu */
.submenu {
  display: none;
  position: absolute;
  top: 100%; /* Hiển thị ngay bên dưới nút */
  list-style: none;
  white-space: nowrap; /* không xuống hàng */
}
.submenu li {
  padding: 7px 10px;
}
.submenu li a {
  text-decoration: none;
  color: #000000;
}
/* Hiển thị submenu khi di chuột qua li cha */
.listicon li:hover .submenu {
  display: block;
}
.submenu li:hover {
  background: #c7f4df;
}

/* ================================khung 4 ảnh nằm giữa trang================== */
.khung {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding-top: 40px;
  padding-bottom: 50px;
}
.khung .hinhanh {
  border-radius: 16px;
}
.hinhanh {
  /* Style cho hình ảnh và chữ chèn lên trên */
  width: 350px;
  height: 350px;
  position: relative;
  overflow: hidden;
}
.hinhanh img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* ================================HOVER================================= */
.tin-tuc .blog-tintuc .item-blog .block-thumb img:hover,
.sp-caulong .pickle-column:hover,
.sp-tennis .pickle-column:hover,
.sp-pickleball .pickle-column:hover,
.hinhanh:hover {
  /* transform: scale(92%);
  transition: transform 0.25s ease; */

  transform: scale(1.04); /* Tăng kích thước ảnh khi hover */
  /* transition: 0.1s; */
}
.chu {
  /* Đặt chữ lên ảnh */
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #f5f5f5;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
}
/* ==================================khung hinh chuyen dong===================== */
.khunghinhchuyendong {
  width: 100%;
  height: 650px;
  position: relative;
}
.khunghinhchuyendong img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Giữ tỷ lệ mà vẫn lấp đầy khung */
  position: absolute;
  transition: opacity 1s ease; /*soomth 1s*/
  object-fit: cover; /* Ảnh giữ tỷ lệ và lấp đầy khung */
  object-position: center; /* Căn giữa ảnh */
}
.slideshow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; /*cắt*/
}
.slideshow img {
  opacity: 0; /*độ mờ*/
  position: absolute;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
}
.slideshow img.active {
  opacity: 1;
}
/* ======================================icon service================== */
.section-services {
  margin-top: 30px;
}
.section-services,
.box-services {
  display: flex;
  justify-content: center;
}
.box-services .info {
  line-height: 22px;
}
.box-services .icon {
  margin-right: 20px;
}
.box-services {
  border: 1.5px solid #bdbdbd;
  margin: 10px;
  padding: 10px 30px;
  border-radius: 12px;
}
/* ========================================thumb blog===================== */
.title-sp-moi,
.sp-caulong .title-caulong,
.sp-tennis .title-tennis,
.sp-pickleball .title-pickleball,
.tin-tuc .title-tintuc {
  text-align: center;
  font-size: 2em;
  margin-top: 50px;
  margin-bottom: 50px;
}
.tin-tuc {
  margin-bottom: 20px;
  margin-top: 30px;
}
.blog-wrap {
  display: flex;
}
.tin-tuc .blog-tintuc .item-blog .block-thumb img {
  height: 240px;
  width: 355px;
}
.tin-tuc .blog-tintuc .item-blog .block-content {
  margin-top: 10px;
  width: 355px;
}
.tin-tuc .blog-tintuc .item-blog .block-content a {
  font-size: 1.1em;
  color: #171100;
}
.tin-tuc .blog-tintuc .item-blog .block-content .conten-descip {
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Số dòng hiển thị trước khi bị cắt */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tin-tuc .blog-tintuc .item-blog {
  margin: 10px;
}
.tin-tuc .blog-wrap {
  justify-content: center;
}
/* =======================================san pham pickleball===================== */
.sp-caulong .row,
.sp-tennis .row,
.sp-pickleball .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sp-caulong .pickle-column,
.sp-tennis .pickle-column,
.sp-pickleball .pickle-column {
  margin: 8px;
}
.sp-caulong .content-banner img,
.sp-tennis .content-banner img,
.sp-pickleball .content-banner img {
  width: 365px;
  height: 365px;
  border-radius: 16px;
}
/* ==========chữ nằm trên ảnh======== */
.sp-pickleball .pickle-column {
  position: relative;
}
.sp-pickleball .pickle-column .snip-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-13deg);
  font-size: 1.4em;
  color: white;
  text-transform: uppercase; /* Chữ in hoa */
  white-space: nowrap; /* không xuống dòng */
  z-index: 10; /* chữ nằm trên ảnh */
  background: #05ade09a;
  padding: 15px 15px;
}
/* ========================================last footer===================== */
b,
h3,
h2 {
  font-weight: bold;
}
em {
  font-style: italic;
}
.footer .row,
.list-social {
  display: flex;
}
.footer .img-social {
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
.footer .row .column {
  width: 25%;
  margin-left: 30px;
  margin-left: 30px;
}
.last-footer {
  margin: 0 125px;
}
.footer {
  background: #c7f4df;
  padding-top: 20px;
  padding-bottom: 20px;
}
.p {
  margin: 0 0 15px 0;
}
.des_foo p {
  margin-bottom: 10px;
  line-height: 25px;
}
.title {
  margin-bottom: 20px;
  font-size: 1.1em;
}
.footer .list a,
p {
  font-weight: 400;
  line-height: 35px;
  color: #171100;
}
.main-content {
  max-width: 1450px;
  margin: 0 auto; /* Canh giữa toàn bộ nội dung của footer */
}
